body {
  font-family: 'Roboto', Arial;

  margin: 0;
  padding: 0;
}

.body-container {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1F2937;
  color: #F9FAF8;
  padding: 20px 100px;
  white-space: nowrap;
}

.right-links {
  font-size: 20px;
}

.logo {
  font-size: 30px;
  font-weight: 800;
  color: #F9FAF8;
}


ul {
  display: flex;
  gap: 12px;
}

li {
  text-decoration: none;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #e5e7eb;
}

.description-container {
  display: flex;
  background-color: #1F2937;
  color: #F9FAF8;
  justify-content: center;
  align-items: center;
  padding: 100px;
}

.text-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-right: 30px;
}

.description {
  font-weight: bold;
  font-size: 40px;
}

.subtext {
  margin-bottom: 10px;
  font-size: 20px;
  color: #F9FAF8;
}

.thumbnail-img {
  width: 500px;
}

.grid-container {
  gap: 32px;
}

.quote-container {
  background: #e5e7eb;
}

.signup-container {

}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 72px;
  background: #1F2937;
  color: #F9FAF8;
}

.text-container button {
  padding: 12px 24px;
  border: none;
  border-radius: 6px;
  background-color: #3882F6;
  color: #F9FAF8;
  width: 100px;
  font-size: 18px;
}

.grid-header {
  display: flex;
  justify-content: center;
  font-weight: bolder;
  font-size: 36px;
  color: #1F2937;
  margin: 40px 0;
}

.grid-container {
  display: flex;
  justify-content: center;
  margin-bottom: 26px;
}

.grid-image {
  width: 160px;
  height: 160px;
  object-fit: cover;
  border: 2px #3882F6 solid;
  border-radius: 20px;
}

.grid-image-text {
  margin-top: 10px;
  font-size: 20px;
}

.grid-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quote-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.quote {
  font-size: 40px;
  font-weight: 100;
}

.author {
  font-size: 20px;
  text-align: right;
  font-weight: bold;
}

.signup-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 60px 200px;
  padding: 60px;
  background-color: #3882F6;
  color:#F9FAF8;
  border-radius: 10px;
}

.signup-block {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.signup-container button {
  background-color:#3882F6;
  border-color:#F9FAF8;
  color: white;
  border-width: 2px;
  border-radius: 4px;
  padding: 12px ;
}

.signup-block p {
  margin: 0;
}

.signup-header {
  font-weight: bold;
  font-size: 24px;
}

.signup-subtext {
  opacity: 0.8;
}